<!DOCTYPE html>
<html>
<head>
    <title>Delete Todo List</title>
</head>
<body>
    <div>
        <h1>Are you sure?</h1>
        <form method="post">
            {% csrf_token %}
            <p>Do you really want to delete "{{ todo_list.name }}"?</p>
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>
