<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
</head>
<body>
	<div>
		<h1>My Lists</h1>
		<p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Number of items</th>
				</tr>
			</thead>
			<tbody>
					{% for list in lists %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                    <td>{{ list.items.count }}</td>

                </tr>
            {% endfor %}
				</tbody>
		</table>
	</div>
</body>
</html>
