<!DOCTYPE html>
<html>
<head>
    <title>Create a New List</title>
</head>
<body>
    <div>
        <h1>Create a new list</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>
