<!DOCTYPE html>
<html>
<head>
    <title>Update Todo List</title>
</head>
<body>
    <div>
        <h1>Update list</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% for item_form in item_forms %}
            {{ item_form.as_p }}
            {% endfor %}
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
