<!DOCTYPE html>
<html>
<head>
    <title>{{ todo_list.name }} - Details</title>
</head>
<body>
    <h1>{{ todo_list.name }}</h1>
    <p><a href="{% url 'todo_list_update' todo_list.id %}">Edit</a></p>
    <p><a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a></p>
    <div>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
